// COLOURS
$darkgrey: #2d2a26;
$white: #ffffff;
$darkgreen: #00615c;

// FONTS
 
$secondary-font-family: 'MicroExtendFLF','Courier New', Courier, monospace;
$primary-font-family: Helvetica, Arial, sans-serif;

// 
$alt-letter-spacing: .09em;